.col
  .d-flex.flex-column.align-items-center(style="margin-top: 8em;")
    h1(style='text-align: center;font-family: ABeeZee, sans-serif;font-weight: bold;') About Us - File Share
    p.justify-content-xl-center.align-items-xl-center(style='font-family: ABeeZee, sans-serif;text-align: center;letter-spacing: 1px;line-height: 28px;max-width: 80%;')
      | This a file sharing API application, Users can upload a file and it creates a random URL which they can share. It will allow anyone with this URL to download the uploaded file. No need to Sign Up, easy free file sharing service.&nbsp;The current version supports file upload up to 3GB. Anonymous uploads without an account will have a limit on how long files will be available for download.
      br
      br
      br
      | Anonymous uploads - File expires after 24 hours&nbsp;
      br
      | Users with account - File expires after 48 hours
      br
      br
  .d-flex.flex-column.align-items-center(style='margin-top: 5em;')
    h1.d-inline.flex-row(style='text-align: center;font-family: ABeeZee, sans-serif;')
      strong Share Files Privately
      br
      i.fa.fa-user-secret
    p.justify-content-xl-center.align-items-xl-center(style='font-family: ABeeZee, sans-serif;text-align: center;letter-spacing: 1px;line-height: 28px;max-width: 80%;')
      | If the user Signs Up for an account, the person who needs to download the file should also sign up in order to access the file. Share Files Privately through the API provides users the capability to specify file expiry time.
      br
script(src='/assets/js/jquery.min.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
script(src='/assets/js/WOWSlider-about-us.js')