section.d-flex.d-lg-flex.flex-column.justify-content-center.align-items-lg-center(style="margin-top: 15em;")
  h1(style="text-align: center;") File Share
  p.text-break.text-center(style="text-align: center;font-family: ABeeZee, sans-serif;font-weight: bold;line-height: 30px;")
      | Simply share your file with anyone from the world !!   
      br
      | Easy and convenient.
      br
      |  You're file is Ready to Download ! 
section.text-center.d-flex.flex-column.justify-content-center.align-items-center.flex-md-row.flex-lg-row.flex-xl-row
  form(method='POST' action='/download/'+ shortCode)
    button.btn.btn-primary.btn-lg.d-flex.justify-content-center(type="submit"  style="font-size: 25px;font-weight: normal;")
          i.fa.fa-download(style="margin-right: 15px;")
          span Download

script(src="/assets/js/jquery.min.js")
script(src="/assets/bootstrap/js/bootstrap.min.js")
script(src="/assets/js/WOWSlider-about-us.js")