.col(style='margin-top: 2%;margin-bottom: 2%;')
  section.d-flex.flex-column.flex-sm-row.flex-md-row.flex-lg-row.flex-xl-row
    form(method='POST' action='/upload' enctype='multipart/form-data')
        input.d-none(type="file" onchange="this.form.submit()" id="selectedFile" name="upload")
        input(type="hidden" name="userHidden" value=user.id)
        button.btn.btn-primary.btn-lg.d-flex.justify-content-center(type="button" onclick="document.getElementById('selectedFile').click();" style="font-size: 25px;font-weight: normal;")
          i.fa.fa-upload(style="margin-right: 15px;")
          span Upload
.table-responsive.table-borderless(style='padding: 2%;')
  table.table.table-striped.table-bordered.table-hover.table-dark
    thead
      tr
        th(style='width: 50%;') Your Files
        th(style='width: 50%;') Options
    tbody
        each file in files
            tr
                td #{file.fileName}
                td.d-flex.flex-column.flex-sm-row.flex-md-row.flex-lg-row.flex-xl-row
                    button.btn.btn-primary.btn-lg.d-flex.justify-content-center(type='button' style='font-size: 25px;font-weight: normal;')
                        i.fa.fa-remove(style='margin-right: 15px;')
                        span Delete
                    div(style='width: 4em;height: 2em;')
                    button.btn.btn-primary.btn-lg.d-flex.justify-content-center(type='button' style='font-size: 25px;font-weight: normal;')
                        i.fa.fa-pencil(style='margin-right: 15px;')
                        span Edit
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='assets/js/WOWSlider-about-us.js')