.login-card(style="margin-top: 150px;background: #ffca42;")
    p.profile-name-card(style="font-family: Bungee, cursive;") Reset Password
    form.form-signin(method='POST' action='/resetPasswordConfirm/' + token)
        span.reauth-email  
        input.form-control(ID="password" name="password" type="password" required="" placeholder="Password" autofocus="")
        input.form-control(ID="confirmPassword" name="confirmPassword" type="password" required="" placeholder="Confirm Password")
        button.btn.btn-primary.btn-block.btn-lg.btn-signin(ID="buttonLogin" type="submit") Reset Password
        case verification
            when 0
                p.isDanger
                    | Password Reset Token Invalid or has Expired 
            when 1
                p  
                    | Passwords should match !                   
            when 2
                p  
                    | Password Successfully Reset ! Please Login.

script(src="/assets/js/jquery.min.js")
script(src="/assets/bootstrap/js/bootstrap.min.js")
script(src="/assets/js/WOWSlider-about-us.js")