.login-card(style="margin-top: 150px;background: #ffca42;")
    p.profile-name-card(style="font-family: Bungee, cursive;") Reset Password
    form.form-signin(method='POST' action='/resetPassword')
        span.reauth-email  
        input#inputEmail.form-control(ID="email" name="email" type="email" required="" placeholder="Email address" autofocus="")
        button.btn.btn-primary.btn-block.btn-lg.btn-signin(ID="buttonLogin" type="submit") Reset Password
        case verification
            when 0
                p.isDanger
                    | An account with that E-mail doesn't exist !
            when 1
                p
                    | Password Reset E-mail send ! (Please check your SPAM if you cannot find the mail in the INBOX).

script(src="/assets/js/jquery.min.js")
script(src="/assets/bootstrap/js/bootstrap.min.js")
script(src="/assets/js/WOWSlider-about-us.js")